

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Area{
    height: 200px;
    width: 200px;
    margin: 200px;
    perspective: 400px;
}

.cube{
    height: 200px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 10s infinite;
}

.face{
    position: absolute;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    opacity: 0.9;
}

#front{
    transform: translateZ(100px);
    background-image: url("bonna.jpg");
}

#back{
    transform: translateZ(-100px) rotateY(-180deg);
    background-image: url("Emran.jpg");
}

#top{
    transform: translateY(-100px) rotateX(90deg);
    background-image: url("popu.jpg");

}

#bottom{
    transform: translateY(100px) rotateX(-90deg);
    background-image: url("hasi.jpg");
}

#left{
    transform: translateX(-100px) rotateY(-90deg);
    background-image: url("masudur.jpg");
}

#right{
    transform: translateX(100px) rotateY(90deg);
    background-image: url("monayem.jpg");
}

@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    12.5%{
        transform: rotateY(-90deg);
    }
    25%{
        transform: rotateY(-180deg);
    }
    37.5%{
        transform: rotateY(-270deg);
    }
    50%{
        transform: rotateY(-360deg);
    }
    62.5%{
        transform: rotateX(-90deg);
    }
    75%{
        transform: rotateX(-180deg);
    }
    87.5%{
        transform: rotateX(-270deg);
    }
    100%{
        transform: rotateX(-360deg);
    }
}